.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.nav__left-left {
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  padding-left: 10px;
}

.nav__left-left span:hover {
  padding-left: 5px;
  transform: scale(1.1);
}

.nav__right {
  display: flex;
  gap: 20px;
}

.login__btn {
  background: transparent;
  color: #fff;
  border: 1px solid grey;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 7px 15px;
}

.login__btn:hover {
  background: #000000;
}

.signup__btn {
  background: #fff;
  border-radius: 5px;
  padding: 7px 15px;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.signup__btn:hover {
  background: red;
  color: #fff;
}

@media (max-width: 576px) {
  .nav__left-left {
    display: none;
  }
}
